.nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  z-index: 1;
  height: 30px;

  /* animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__show--bg {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  width: 80px;
  object-fit: contain;
  left: 20px;
}

.nav__avatar {
  position: fixed;
  width: 30px;
  object-fit: contain;
  right: 20px;
}
