.row {
  margin-left: 20px;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transorm 450ms;
}
.large__poster {
  max-height: 250px;
}

.row__poster:hover {
  transform: scale(1.08);
  border-radius: 3px;
}

.large__poster:hover {
  transform: scale(1.09);
}

.row__title {
  color: #fff;
}
